/* Bradford Smith (bsmith8)
 * CS 546 Lab 9 style.css
 * 04/14/2016
 * "I pledge my honor that I have abided by the Stevens Honor System."
 */

/* Given styles: ============================================================ */
* {
    box-sizing: border-box;
}

html {
    font-size: 14pt;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

.content {
    margin: auto;
    padding: 0 25pt;
}

body {
    color: #333;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
    text-align: center;
}

section.chapter {
    border-top: 1px solid #999;
    padding: 20pt 0;
    background: #FFF;
}

a {
    color: #44609D;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav li {
    width: 300px;
}

/* Added for Lab 9: ========================================================= */

/* Default state: 1 */
*::selection {
    color: #FFF;
    background: #44609d;
}

/* Default state: 1 */
*::-moz-selection {
    color: #FFF;
    background: #44609d;
}

/* Default state: 2 */
section.chapter p:first-of-type::first-letter {
    font-size: 2rem;
    font-family: cursive;
}

/* Default state: 3 */
section.chapter p:first-of-type::first-line {
    font-size: 1.75rem;
}

@media (min-width: 750px) {
    /* 750px and wider: 1 */
    nav li:hover {
        transform: scale(1.5);
    }

    /* 750px and wider: 2 */
    nav li {
        transition: transform .5s linear;
    }

    /* 750px and wider: 3 */
    html {
        font-size: 18pt;
    }

    /* 750px and wider: 4 first-letter and first-line rules used rem as units */

    /* 750px and wider: 5 */
    .content {
        max-width: 850px;
        padding: 0;
    }

    /* 750px and wider: 6, 7 */
    section.chapter {
        opacity: .75;
        transition: opacity .5s linear;
    }

    /* 750px and wider: 8 */
    section.chapter:hover {
        opacity: 1.0;
    }
    section.chapter:focus {
        opacity: 1.0;
    }
}
