<!DOCTYPE html>
<!--
    Bradford Smith (bsmith8)
    CS 546 Lab 10 home.ejs
    04/24/2016
    "I pledge my honor that I have abided by the Stevens Honor System."
-->
<html lang="en">

    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>LoDWiki</h1>
                <p>The wikia ripoff site for The Legend of Dragoon. Phil Baressi's example video game.</p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-2 show-border">
                    <img src="http://vignette1.wikia.nocookie.net/wowwiki/images/1/17/Wikia_Logo.svg/revision/latest?cb=20120430230929" class="img-responsive" alt="GameWiki Logo"/>
                    <div class="panel panel-info">
                        <div class="panel-body"><p>This site likes to pretend that it is powered by wikia.</p></div>
                    </div>
                </div> <!-- left column -->
                <div class="col-xs-12 col-sm-10 show-border">
                    <div class="row">
                        <!-- tabs -->
                        <ul class="nav nav-tabs" role="tablist" id="mytabs">
                            <li role="presentation" class="active"><a href="#about" aria-controls="about" role="tab" data-toggle="tab">About</a></li>
                            <li role="presentation"><a href="#plot" aria-controls="plot" role="tab" data-toggle="tab">Plot</a></li>
                            <li role="presentation" class="dropdown">
                                <a id="characters-dropdown" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Characters
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="characters-label">
                                    <li><a href="#dart" data-toggle="tab">Dart</a></li>
                                    <li><a href="#shana" data-toggle="tab">Shana</a></li>
                                    <li><a href="#lavitz" data-toggle="tab">Lavitz</a></li>
                                    <li><a href="#rose" data-toggle="tab">Rose</a></li>
                                    <li><a href="#haschel" data-toggle="tab">Haschel</a></li>
                                    <li><a href="#albert" data-toggle="tab">Albert</a></li>
                                    <li><a href="#meru" data-toggle="tab">Meru</a></li>
                                    <li><a href="#kongol" data-toggle="tab">Kongol</a></li>
                                    <li><a href="#miranda" data-toggle="tab">Miranda</a></li>
                                    <li><a href="#lloyd" data-toggle="tab">Lloyd</a></li>
                                    <li><a href="#melbu" data-toggle="tab">Melbu Frahma</a></li>
                                    <li><a href="#emperor" data-toggle="tab">Emperor Diaz</a></li>
                                </ul>
                            </li>
                            <li role="presentation"><a href="#development" aria-controls="development" role="tab" data-toggle="tab">Development</a></li>
                            <li role="presentation"><a href="#reception" aria-controls="reception" role="tab" data-toggle="tab">Reception</a></li>
                            <li role="presentation"><a href="#psn" aria-controls="psn" role="tab" data-toggle="tab">PlayStation Network Release</a></li>
                            <li role="presentation"><a href="#manga" aria-controls="manga" role="tab" data-toggle="tab">Manga</a></li>
                        </ul>

                        <!-- tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="about">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>Overview of The Legend of Dragoon</h2></div>
                                    <div class="panel-body">
                                        <p>The Legend of Dragoon is a role-playing video game developed and published by Sony Computer Entertainment for the PlayStation. It was released in Japan on December 2, 1999, in North America on June 11, 2000, and on January 19, 2001 in Europe.</p>
                                        <p>Despite mixed critical reception, the game has amassed a very large fanbase following, including several online petitions for a remake or prequel/sequel. The game was rereleased on PlayStation Network in Japan on December 22, 2010 and in North America on May 1, 2012.</p>
                                        <p>The Legend of Dragoon features three modes of play: the field map, a battle mode, and an overworld map. The field map is used whenever the player enters a town, dungeon, or landmark. It consists of a pre-rendered background image overlaid with real-time 3D character models and animated effects, such as the movement of water or light shafts. Battle mode is a real-time 3D environment that resembles the current field map. Turn-based battles occur between playable characters and CPU-controlled enemies. Standard actions such as attack, defend, item and escape are present. The world map is used when the player moves between towns or other geographical locations. The World Map doesn't allow for free movement, and instead the player follows a guided path between destinations.</p>
                                        <h3>Additions</h3>
                                        <p>The Additions combat system implemented in The Legend of Dragoon was an innovative new element within the RPG genre. The system has been praised for making battles more interesting and requiring more player input, but has also received criticism for its difficulty, especially when more advanced combos are unlocked. After a party member obtains a Dragoon Spirit, successfully completing Additions will gain the character Spirit Points (SP), which allow them to use their Dragoon Spirits in battle.</p>
                                        <p>After completing an Addition successfully during battle numerous times, it will level up. This grants added benefits such as more damage or Spirit Points per strike. Harder Addition combos will unlock as the player progresses through the game, with most characters having between 4 and 7 unique Additions.</p>
                                        <h3>Items</h3>
                                        <p>There are many items available to the player, each having their own use such as healing the party, curing status ailments, or causing damage to enemies. These items can be purchased from merchants within the game, found inside treasure chests, or dropped during battles.</p>
                                        <p>Combat items are generally attack spells, attuned to one of the game's seven elemental affinities (or in rare cases, no element at all). These items are categorized by their ability to target a single enemy or group of enemies. A majority of the attack items in the game carry the "multi" trait, meaning their damage is amplified via the player's rapid button pressing during combat. Meanwhile, healing items will recover health, magic, or spirit points based on percentage values.</p>
                                        <p>A limited amount of combat and restorative items may be carried by the player at any time, with a notable exception arising from differences in the game's release. In the Japanese version of the game, players could use the Pocketstation accessory to access a special minigame to acquire the "Dabas' Shiny Bag" special item. This item doubles the maximum capacity for consumable items from 32 to 64. The item was removed from North American and European versions of the game, presumably since the PocketStation was not being released outside Japan.</p>
                                        <h3>Dragoon Transformation</h3>
                                        <p>During the game, characters may receive a Dragoon Spirit. This allows a character to transform into a more powerful form during battle, a Dragoon. Upon transforming, attack, defense, and magical stats are increased and characters have access to two new battle options, Dragoon Attack and Dragoon Magic. The character loses the ability to use items, guard or escape while in Dragoon form, and reverting to normal becomes possible only through the defeat of the enemies in the battle, the exhaustion of the character's Spirit Points (SP), or the depletion of the character's hit points (HP).</p>
                                        <p>The Dragoon Addition system is implemented via a circular gauge. The player is required to press the x button when the rotating dial returns to the twelve o'clock position after each rotation. Successfully completing all 5 rotations yields maximum attack damage. As a Dragoon, each character will also gain unique spells based upon their Dragoon element. Casting these spells requires MP, which can be recovered by resting at inns, by using items, or by equipping special accessories.</p>
                                        <p>When all three characters in the party reach their maximum SP during normal combat, a command called Special (symbolized by a Yin Yang) will appear. Using this command will transform all three characters into Dragoon mode simultaneously, and the battle background will change into a pattern associated with the element of the character that used the command. The character that used the command will automatically complete their full Dragoon Additions, and their attack and defense stats will receive an additional boost. Once the character that used the command reverts to human form, either by depletion of SP or HP, the background returns to normal.</p>
                                        <h3>Multiple Use Items</h3>
                                        <p>Various multiple use items can be found throughout the game that will increase stats or cause certain effects for three consecutive turns. These items can be used once per battle and reappear in the selectable inventory at the start of the next battle. These items consist of the Material Shield and Magic Shield, which make one ally invulnerable to physical or magical attacks for three turns, respectively; the Power Up and Speed Up items, which double the power or speed of one ally for three turns, respectively; the Speed Down or Power Down, which halves the speed or power of an enemy for three turns, respectively; the Magic Signet Stone, which blocks a minor enemy's actions for three turns, the Pandemonium, which forces an enemy to attack one ally for three turns, the Smoke Ball, which guarantees escape from battle, and the Psyche Bomb X, a non elemental multi-hit attack item which is the strongest in the game.</p>
                                        <h3>Stardust</h3>
                                        <p>In the game, stardust is described as "a magical wishing stone", and whoever can obtain it will have their dreams come true. Stardust can be found in all sorts of places over the course of the game. They are not visible in the game world nor marked by a chest, but must be found by randomly searching areas on the screen. There are fifty total stardust and as the player collects them, a traveler named Martel will give rewards in exchange. She has five items available, and one item is given for every ten stardust collected. After collecting all fifty, Martel gives the player the Vanishing Stone, which gives the player the opportunity to face Magician Faust, the game's optional superboss.</p>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="plot">
                                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
                                    <h2>Spoiler Alert!</h2>
                                    <p>This page contains spoilers! If you would like to discover the story on your own you may want to turn back now.</p>
                                    <p>
                                    <button id="spoiler-leave-btn" type="button" class="btn btn-danger" onclick="avoidSpoilers()">Leave Now</button>
                                    <button id="spoiler-dismiss-btn" type="button" class="btn" data-dismiss="alert">Dismiss</button>
                                    </p>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>Plot of The Legend of Dragoon</h2></div>
                                    <div class="panel-body">
                                        <h3>Setting</h3>
                                        <p>The game takes place on the fictional continent of Endiness. It is a geographically diverse land, with each climate zone being home to a different nation. The game begins in Serdio, a temperate region that is undergoing a civil war at the beginning of the game. West of Serdio is the desert nation of Tiberoa, west of Tiberoa is the barren desert known as the Death Frontier and Wingly Forest, north of Serdio are the icy regions of Gloriano and Mille Seseau, with Mille Seseau being a forested mountain, while Gloriano is a snowy desert.</p>
                                        <h3>Story</h3>
                                        <p>The story begins when Dart is heading home from a five-year-long journey to pursue the Black Monster who killed his parents and destroyed his birth city: Neet. On the way, he is attacked by Feyrbrand, a dragon controlled by the Sandora, a rebel faction in the Serdian civil war. After Dart gets hit by the dragon, he gets saved by a mysterious female heroine named Rose, though they soon part ways. When he arrives at his hometown, Seles, he discovers that it has been destroyed by Sandora, and that Shana, Dart's childhood friend, has been taken away. Dart sets out to rescue her. Throughout the game, he is periodically joined by people that he helps along the way.</p>
                                        <p>After rescuing Shana from Hellena prison with the help of Lavitz, a recently escaped knight of Basil, the trio make their escape to the prairie. Continuing their journey to reach Basil, the trio pass through a cave and encounter a snake-like monster known as Urobolus. The monster is defeated by Shana from a mysterious hidden power, leaving the trio confused and the mystery around Shana's powers to begin. When the trio reaches Basil, they go and meet the king to explain the incident at Hellena. King Albert sends the party to defend the fort-city of Hoax against attacks from Sandora. Among the attacking Sandora is Kongol, the last survivor of a race of giants known as the Gigantos. It is in his battle with Kongol that Dart first gains his ability to transform into a Dragoon using a memento from his father that he found after his death, now revealed as the Dragoon Spirit of the Red-Eyed Dragon with the help of Rose. Kongol is injured, but survives and retreats. With the fort safe, they travel to the city of Lohan. In the city, they meet a man named Lloyd in the Heroes Tournament. Later, it is discovered that Lloyd is seeking to obtain the sacred moon objects; the Moon Gem, Moon Dagger, and Moon Mirror. Lloyd murders Lavitz in order to obtain the Moon Gem. The party then pursues him to the country of Tiberoa.</p>
                                        <p>Dart and the party finally catch up and defeat Lloyd and Lloyd obtains the Divine Dragoon spirit, however, he is unrecognized as the Divine Dragoon. Emperor Diaz then reveals several things to the party. During the height of the Wingly Empire over eleven thousand years ago, they discovered that the 108th fruit in the Divine Tree would give birth to a creature called the Virage Embryo, also known as the God of Destruction, and was meant to end all other life. Before it could be born, the Winglies used their magical power to separate its body from its soul, making it unable to be born. They then cast the body into the sky, where it became the Moon That Never Sets, and sealed it using several magical Signets, one in each of the ancient Wingly cities, to prevent the soul and body from reuniting. The soul of the God of Destruction was originally placed inside the Crystal Sphere, which was worn by the ancient Wingly ruler Melbu Frahma to increase his power. However, during the Dragon Campaign, when the Dragoons assaulted Kadessa, the flying capital city of the Ancient Winglies, the Crystal Sphere was shattered during the fight between Melbu Frahma and Zieg Feld, leader of the Dragoons.</p>
                                        <p>Ever since, the soul of the God of Destruction has wandered the earth and, every one hundred and eight years, possesses the body of a human child (known as the Moon Child) in an attempt to return to its body. The body can be summoned if the Signets are destroyed, which can be done using the immense magical power contained within the artifacts that Lloyd gathered.</p>
                                        <p>Emperor Diaz then reveals himself to be Zieg, Dart's father and leader of the Dragoons that fought in the Dragon Campaign. After Zieg defeated Melbu Frahma, Melbu cast a spell that both petrified Zieg and kept Melbu's spirit alive within Zieg's dragoon spirit. Thousands of years later the petrification wore off, and Zieg settled down to start a family in Neet. Finally, it is revealed that Rose was both Zieg's lover and fellow Dragoon during the Dragon Campaign, and was granted immortality by the remaining Winglies in order to kill the Moon Child every 108 years, and has since become known as the Black Monster. Rose destroyed Neet in an effort to locate and kill the Moon Child, although Zieg reveals that the child Rose killed was the twin sister of Shana, the actual Moon Child, whom he then kidnaps. Zieg leaves to destroy the Signets.</p>
                                        <p>Zieg then flees and proceeds to destroy the remaining three Signet Spheres that seal the Moon That Never Sets, causing it to fall from the sky and land on the Divine Tree. He then carries Shana to the body of the God of Destruction, so that the body will sense the presence of its soul and prepare to restore itself. The party arrives to stop Zieg, who steals the Red Dragoon Spirit back from Dart and fights the party. After his defeat, it is revealed that years ago, Zieg attempted to use his Dragoon Spirit to fight the Black Monster attacking Neet, but Melbu Frahma emerged and possessed him. Frahma unites with the body himself, taking the form and power of the God of Destruction. Zieg is released from Frahma’s possession.</p>
                                        <p>In his final moments, Lloyd gives the Divine Dragoon spirit to Dart and the Dragon Buster to Rose. The party defeats Melbu Frahma, but at the cost of Rose and Zieg, who sacrifice themselves to destroy the God of Destruction. Everybody else is able to return home.</p>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="dart">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>Dart</h2></div>
                                    <div class="panel-body"><p>A swordsman from the Village of Seles. Originally from Neet, he left after his village was destroyed and his family killed by the Black Monster. He wields a broadsword and is the Red-Eyed Dragoon.</p></div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="shana">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>Shana</h2></div>
                                    <div class="panel-body"><p>Dart's childhood friend. She wields a bow and the Silver Dragoon. She does not have additions.</p></div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="lavitz">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>Lavitz</h2></div>
                                    <div class="panel-body"><p>A knight under the service of King Albert. He wields a spear and is the third, but second known about ingame, Jade Dragoon (not to be confused with Feyrbrand).</p></div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="rose">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>Rose</h2></div>
                                    <div class="panel-body"><p>The Dark Dragoon. Little about her past is revealed, but she has the most knowledge about Dragoons.</p></div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="haschel">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>Haschel</h2></div>
                                    <div class="panel-body"><p>A sixty-year-old martial arts master of the Rouge Art. He is searching to find his missing daughter. He uses his fists and is the Violet Dragoon.</p></div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="albert">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>Albert</h2></div>
                                    <div class="panel-body"><p>King of Basil. He uses a Lance similar to Lavitz. He is the fourth, but third known ingame, Jade Dragoon.</p></div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="meru">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>Meru</h2></div>
                                    <div class="panel-body"><p>She is a Wingly dancer and wields a hammer. She is also the Blue Sea Dragoon.</p></div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="kongol">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>Kongol</h2></div>
                                    <div class="panel-body"><p>The last Giganto. He initially serves Emperor Doel. He later becomes the Golden Dragoon. He wields a giant axe.</p></div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="miranda">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>Miranda</h2></div>
                                    <div class="panel-body"><p>One of the Sacred Sisters of the North. She wields a bow and becomes the second Silver Dragoon.</p></div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="lloyd">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>Lloyd</h2></div>
                                    <div class="panel-body"><p>The mysterious Wingly throughout most of the game. His story is revealed as the game progresses.</p></div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="melbu">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>Melbu Frahma</h2></div>
                                    <div class="panel-body"><p>The leader of the Winglies during the Dragon Campaign.</p></div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="emperor">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>Emperor Diaz</h2></div>
                                    <div class="panel-body"><p>The leader of the Human forces during the Dragon Campaign.</p></div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="development">
                                <div class="alert alert-warning alert-dismissable fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
                                    <h2>Notice</h2>
                                    <p>This section requires expansion.</p>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>Development</h2></div>
                                    <div class="panel-body">
                                        <p>The Legend of Dragoon was developed by Sony Computer Entertainment of Japan (SCEI). The project began in 1996 with a small group of people while the company simultaneously built teams for developing other games such as Ape Escape and Ico. At its peak, the development team consisted of over 100 members, with ten people simply dedicated to drawing the game's concept art. As the game contains a large number of pre-rendered maps and full-motion videos, content was spread over four discs. The Legend of Dragoon took three and a half years to develop before its December 1999 release in Japan. Prior to its June 2000 release in North America, the gameplay was rebalanced following complaints of the Japanese version's difficulty level. According to Shuhei Yoshida, The Legend of Dragoon cost Sony Computer Entertainment $16 million to develop in over a span of three years and that most of the game's sales were made overseas, saying "the sales in the U.S. were very strong."</p>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="reception">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>Reception</h2></div>
                                    <div class="panel-body">
                                        <p>The Legend of Dragoon received mixed to positive reviews. The game was praised by IGN for its graphics and cinematics. However, the combo system was criticized for requiring too much precision, while the titular element of Dragoon transformation was deemed inconsequential to gameplay.[10] The game's battles were considered repetitious due to an excessive frequency of random encounters.[11] GameSpot's Peter Bartholow was more critical of the game. Bartholow called it a "highly generic RPG" and stated that the game "borrows too heavily from other games and lacks that 'hook' to make it worth dealing with excessive defending."</p>
                                        <p>The Legend of Dragoon sold 960,000 copies in North America and over 280,000 copies in Japan as of December 27, 2007.[12][13] In 2009, GamesRadar included it among the games "with untapped franchise potential", commenting: "A massive, epic RPG designed to compete with the then-juggernaut Final Fantasy series, Dragoon actually succeeded in its task. It was just as beautiful, nearly as deep, had a touching story, and actually improved upon FF in a few ways (avoidable random battles, for example). (...) [G]iven The Legend of Dragoon’s cult status among PlayStation loyalists today, we’re astonished that Sony has allowed this series to fade into obscurity."[14]</p>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="psn">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>PlayStation Network Release</h2></div>
                                    <div class="panel-body"><p>On December 22, 2010, Sony released The Legend of Dragoon on the PlayStation Network. The North American version was released on May 1, 2012. The title was the best-selling PSOne Classic for three months, remaining in the top 5 for five months.[15][16]</p></div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="manga">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"><h2>Manga</h2></div>
                                    <div class="panel-body">
                                        <p>The Legend of Dragoon is a manga book by Ataru Cagiva based on the game. The manga only published one issue under the publisher Bros. Comics.</p>
                                        <p>The book follows the story of the events of disc one of the game but pulls away from the story in many parts. It is missing many characters and events in order to decrease the book's size. The book was released in 2000 only in Japan and was never translated in America.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- tabs row -->
                </div> <!-- right column -->
            </div> <!-- row -->
            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading"><h2>Survey</h2></div>
                    <div class="panel-body">
                        <form class="form-horizontal" action="#" id="survey-form" onsubmit="formSubmit()">
                            <div class="form-group">
                                <label for="form-radio-group" class="col-xs-2 control-label">Rating:</label>
                                <div class="col-xs-10" id="form-radio-group">
                                    <div class="radio">
                                        <label for="survey-rating-0">
                                            <input type="radio" name="radio-group" id="survey-rating-0">
                                            0
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="survey-rating-1">
                                            <input type="radio" name="radio-group" id="survey-rating-1">
                                            1
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="survey-rating-2">
                                            <input type="radio" name="radio-group" id="survey-rating-2">
                                            2
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="survey-rating-3">
                                            <input type="radio" name="radio-group" id="survey-rating-3">
                                            3
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="survey-rating-4">
                                            <input type="radio" name="radio-group" id="survey-rating-4">
                                            4
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="survey-rating-5">
                                            <input type="radio" name="radio-group" id="survey-rating-5">
                                            5
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="survey-name" class="col-xs-2 control-label">Name:</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" id="survey-name" placeholder="Your Name Here">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="survey-email" class="col-xs-2 control-label">Email:</label>
                                <div class="col-xs-10">
                                    <input type="email" class="form-control" id="survey-email" placeholder="your@email.com">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-2">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                                <h3 class="modal-title">Thank you for submitting our survey!</h3>
                            </div>
                            <div class="modal-body">
                                <p>It really helps us to show the content that you want to see.</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- modal -->
            </div> <!-- row -->
        </div> <!-- container -->

        <!-- script to allow alert button to change tabs -->
        <script>
function avoidSpoilers() {
    $('#mytabs a[href="#about"]').tab('show')
}
        </script>

        <!-- script to open modal -->
        <script>
function formSubmit() {
    $('#form-modal').modal();
    //cheat and make it look like the form submitted
    document.getElementById("survey-form").reset();
}
        </script>

        <% include ../partials/scripts %>
    </body>

</html>
