<!DOCTYPE html>
<!--
    Bradford Smith (bsmith8)
    CS 546 Assignment 4 index.ejs
    05/08/2016
    "I pledge my honor that I have abided by the Stevens Honor System."
-->
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <header>
            <h1>Movie API Frontend</h1>
            <p>Browse, rate, delete and add movies below</p>
        </header>
        <main class="row">
            <h2>Movies</h2>
            <p>In here are the movies</p>
            <!-- TODO: hook up links -->
            <a href="#">All Movies</a>
            <a href="#">Popular Movies</a>
        </main>
        <footer>
            <h2>Add a Movie</h2>
            <form>
                <!-- TODO: -->
            </form>
        </footer>
    </div>

    <% include ../partials/scripts %>
</body>

</html>
