<!DOCTYPE html>
<!--
    Bradford Smith (bsmith8)
    CS 546 Assignment 4 index.ejs
    05/08/2016
    "I pledge my honor that I have abided by the Stevens Honor System."
-->
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <header>
            <h1>Movie API Frontend</h1>
            <p>Browse, rate, delete and add movies below</p>
        </header>
        <main class="row">
            <h2>Movies</h2>
            <!-- TODO: hook up links -->
            <a href="#" id="get-all-movies">All Movies</a>
            <a href="#" id="get-pop-movies">Popular Movies</a>
            <p>In here are the movies</p>
        </main>
        <footer>
            <h2>Add a Movie</h2>
            <p>Use this form to add a movie.</p>
            <form id="add-movie-form">
                <label for="add-movie-title">Title:
                    <input type="text" name="title" id="add-movie-title" required="true"><br>
                </label>
                <label for="add-movie-rating">Rating:
                    <input type="number" name="rating" id="add-movie-rating" min="1" max="5" required="true"><br>
                </label>
                <input type="submit" value="Add Movie">
            </form>
        </footer>
    </div>

    <% include ../partials/scripts %>
</body>

</html>
